.textarea {
  font-size    : 18px;
  font-family  : "Crassula";
  width        : 100%;
  padding      : 24px;
  border-radius: 8px;
  background   : transparent;
  border       : 2px solid var(--deep-beige);
  resize       : none;
  color        : var(--color-white);
}
