:root {
  --white       : #ffffff;
  --light-gray  : #b3b3b3;
  --light-gray-2: #EAEAEA;
  --middle-gray : #DADADA;
  --gray-bg     : #EFEDED;
  --gray        : #A9A9B4;
  --deep-gray   : #716F6F;
  --black       : #222121;
  --navy-blue   : #2c2c6c;
  --blue        : #4db5ff;
  --red         : #DB3946;
  --green       : #51B240;
  --light-green : #6BC38E;
  --yellow      : #FFDC33;
  --orange      : #FDBA46;
  --peach       : #E87979;
  --slin        : #FFB27D;
}
