:root {
  --navy-blue  : #2c2c6c;
  --blue       : #4db5ff;

  --white      : #ffffff;
  --beige      : #F4E6E0;
  --middle-gray: #716F6F;
  --deep-gray  : #4F4D4D;
  --dark-gray  : #3E3E3E;
  --black      : #222121;
}
