* {
  margin         : 0;
  padding        : 0;
  border         : 0;
  outline        : 0;
  box-sizing     : border-box;
  list-style     : none;
  text-decoration: none;
}

:root {
  --white      : #ffffff;
  --beige      : #F4E6E0;
  --deep-beige : #B6A89C;
  --middle-gray: #716F6F;
  --deep-gray  : #4F4D4D;
  --dark-gray  : #3E3E3E;
  --black      : #222121;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family     : "Poppins", sans-serif;
  color           : var(--dark-gray);
  background-color: var(--beige);
  line-height     : 1.7;

}

h1 {
  font-size  : 40px;
  font-weight: 700;
}

h5 {
  font-size: 19px;
}
