.link {
  display      : flex;
  padding      : 14px;
  border-radius: 50%;
  color        : var(--beige);
  background   : transparent;
  transition   : all 400ms ease;

  &.active {
    color     : var(--white);
    background: var(--dark-gray);

    &:hover {
      background: var(--dark-gray);
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}
