.container {
  text-align: center;
  padding   : 80px 0;
  width     : 60%;

  .wrapper {
    display              : grid;
    justify-content      : center;
    grid-template-columns: minmax(150px, 20vw) minmax(250px,35vw);
    gap                  : 50px;

    .options {
      display       : flex;
      flex-direction: column;
      gap           : 20px;
    }

    .formWrapper {
      display       : flex;
      flex-direction: column;
      gap           : 10px;
      position      : relative;

      .form {
        display       : flex;
        flex-direction: column;
        gap           : 20px;

        input,
        textarea {
          font-size    : 18px;
          font-family  : "Crassula";
          width        : 100%;
          padding      : 24px;
          border-radius: 8px;
          background   : transparent;
          border       : 2px solid var(--deep-beige);
          resize       : none;
          color        : var(--color-white);
        }

        .button {
          display      : inline-block;
          width        : max-content;
          color        : var(--dark-gray);
          background   : var(--beige);
          padding      : 12px 20px;
          border-radius: 10px;
          cursor       : pointer;
          border       : 1px solid var(--dark-gray);
          transition   : all 400ms ease;
          font-size    : 16px;
          font-family  : "Crassula";

          &:hover {
            color       : var(--beige);
            background  : var(--deep-beige);
            border-color: var(--deep-beige);
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      gap                  : 32px;
      align-items          : center;
    }
  }
}
