.container {
  text-align: center;
  padding   : 100px 0;
  width     : 60%;
  @media screen and (max-width: 600px) {
    padding-top: 140px;
  }

  .wrapper {
    display              : grid;
    justify-content      : center;
    grid-template-columns: minmax(150px, 20vw) minmax(250px,35vw);
    gap                  : 50px;

    .options {
      display       : flex;
      flex-direction: column;
      gap           : 20px;
    }

    .form {
      display       : flex;
      flex-direction: column;
      gap           : 20px;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      gap                  : 32px;
      align-items          : center;
    }
  }
}
