header {
  height     : 100vh;
  padding-top: 80px;
  overflow   : hidden;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }

  .container {
    height    : 100%;
    position  : relative;
    text-align: center;

    .socials {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      gap           : 12px;
      position      : absolute;
      left          : 0;
      bottom        : 48px;

      a {
        font-size: 22px;
        color    : var(--dark-gray);

        &:hover {
          color: var(--deep-beige);
        }
      }

      &::after {
        content   : "";
        width     : 1px;
        height    : 32px;
        background: var(--dark-gray);
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .contact {
      display        : flex;
      gap            : 20px;
      justify-content: center;
      margin-top     : 40px;

      .photo {
        position     : absolute;
        background   : linear-gradient(var(--deep-beige), transparent);
        width        : 350px;
        height       : 480px;
        margin-top   : 90px;
        border-radius: 190px 190px 0 0;
        padding      : 80px 24px 24px;

        img {
          height: 480px;
        }
      }
    }
  }
}
