.footer {
  color     : var(--beige);
  background: var(--dark-gray);
  padding   : 100px 0;
  font-size : 17px;

  footer {
    display       : flex;
    flex-direction: column;
    gap           : 60px;

    .links {
      display        : flex;
      gap            : 32px;
      justify-content: center;

      a {
        color: var(--beige);

        &:hover {
          color: var(--deep-beige);
        }
      }
      @media screen and (max-width: 600px) {
        align-items   : center;
        flex-direction: column;
      }
    }

    .copyright {
      display        : flex;
      justify-content: center;
    }
  }
}
